@inject IStringLocalizer<Localization> Loc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">C#Core2.0</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-1">
                    <NavLink class="nav-link" href="list">
                        <span class="btn btn-secondary" aria-hidden="true">Список (List)</span> 
                    </NavLink>
                </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="dictionary">
                <span class="btn btn-secondary" aria-hidden="true">Словарь (Dictionary)</span> 
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="hashset">
                <span class="btn btn-secondary" aria-hidden="true">Хеш-таблица (HashSet)</span> 
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="stack">
                <span class="btn btn-secondary" aria-hidden="true">Стек (Stack)</span> 
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="queue">
                <span class="btn btn-secondary" aria-hidden="true">Очередь (Queue)</span> 
            </NavLink>
        </div>
         <div class="nav-item px-1">
            <NavLink class="nav-link" href="linkedlist">
                <span class="btn btn-secondary" aria-hidden="true">LinkedList (LinkedList)</span> 
            </NavLink>
        </div>
         <div class="nav-item px-1">
            <NavLink class="nav-link" href="observablecollection">
                <span class="btn btn-secondary" aria-hidden="true">ObservableCollection (ObservableCollection)</span> 
            </NavLink>
        </div>
         <div class="nav-item px-1">
            <NavLink class="nav-link" href="sortedlist">
                <span class="btn btn-secondary" aria-hidden="true">SortedList (SortedList)</span> 
            </NavLink>
        </div>
        
        
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
